* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #777;
  font-size: 1.6rem;
  padding: 0;
  background: url(../img/59274.jpg) 100%/cover no-repeat;
  background-attachment: fixed;
}

[class*=container] {
  max-width: 147rem;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

body.checked {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.text-align-center {
  text-align: center;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mb-80 {
  margin-bottom: 8rem;
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.sub-text {
  position: relative;
  width: 40rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all ease;
}
.sub-text.active {
  height: 100%;
  opacity: 1;
  visibility: visible;
}
.sub-text__text {
  color: #000;
  padding: 1rem;
}
.sub-text::before {
  content: "";
  position: absolute;
  width: 0.01rem;
  height: 2rem;
  top: -2rem;
  left: 2.85rem;
  background: #777;
}
.sub-text__link {
  text-transform: uppercase;
  text-decoration: underline;
  padding: 0.5rem;
  color: #51b5ac;
  position: relative;
}
.sub-text__link:not(:last-child) {
  margin-right: 1rem;
}
.sub-text__link:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 2rem;
  top: 14%;
  background: #777;
  left: 100%;
}
.sub-text__link:visited {
  color: #777;
}
.sub-text__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.sub-text__list__link {
  border: none;
}

.title {
  background-color: rgba(238, 238, 238, 0.7);
  display: inline-block;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  vertical-align: top;
}
.title__link {
  display: block;
  color: #51b5ac;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
}
.title__link:hover {
  opacity: 0.5;
}

.icon,
.icon::before,
.icon::after {
  height: 5rem;
  width: 3rem;
  border: solid;
  border-width: 0.1rem 0;
  border-radius: 0.2rem;
  box-sizing: border-box;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  margin-top: -1px;
}

.icon {
  vertical-align: top;
  position: relative;
  display: inline-block;
  top: 3px;
  left: 14px;
  margin-right: 5rem;
  transition: 0.4s all ease;
  cursor: pointer;
}
.icon.active {
  transform: rotate(30deg);
}
.icon::before {
  transform: rotate(-60deg);
}
.icon::after {
  transform: rotate(60deg);
}/*# sourceMappingURL=style.css.map */