// //main text color
$color-gray: #777;
$color-title: #51b5ac;
// //main texts sites
// $color-brown-light: #ba8554;
// $color-brown-darck: #a14f03;
$color-white: #fff;
$color-black: #000;
$bg-color: rgba(238, 238, 238, .7);


// //basic shadow for buttons
$box-shadow: (0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
// $shadaw-h2: 0rem .4rem 4rem rgba($color-black, .25);

// $grid-width: 114rem;
// $margin-vertical-big: 8rem;
// $gutter-horizontal: 6rem;

$font-size-paragraph: 1.6rem;
// $font-size-h2: 3.6rem;
// $font-size-h3: 2rem;